<div class="container">
    <ntap-filtro (botaoFiltro)="filtrarNotificacoes($event)"></ntap-filtro>
    <hr>
    <ul class="list-group">
        <li *ngFor="let notif of notificacoesFiltradas" [ngClass]="notif.lido ? 'lido' : ''" class="list-group-item">
            <p>Título: {{ notif.titulo }}</p>
            <p>Subtítulo: {{ notif.subtitulo }}</p>
            <p>Data: {{ notif.data }}</p>
            <button (click)="lerNotificacao(notif)" type="button" class="btn btn-outline-primary">Visualizar</button>
        </li>
    </ul>
</div>