<ntap-header></ntap-header>
<div class="container">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button *ngFor="let botao of botoes" type="button" class="btn btn-secondary">
            {{ botao }}
        </button>
    </div>
    <hr>
    <ul class="list-group">
        <li *ngFor="let notif of notificacoes" [ngClass]="notif.lido ? 'lido' : ''" class="list-group-item">
            <p>Título: {{ notif.titulo }}</p>
            <p>Subtítulo: {{ notif.subtitulo }}</p>
            <p>Data: {{ notif.data }}</p>
            <button (click)="lerNotificacao(notif)" type="button" class="btn btn-outline-primary">Visualizar</button>
        </li>
    </ul>
</div>
<ntap-footer></ntap-footer>